<!--The content below is only a placeholder and can be replaced.-->
<div class="box">
  <div style="text-align:center">
    <h1>
      Angular Export Example
    </h1>
  </div>
  <div class="row">
    <div class="col-md-9">
        <h2>Customers </h2>
    </div>
    <div class="col-md-3">
      <button type="button" [appExport]="customers" fileName="customers" class="btn btn-danger">
        Export
      </button>
    </div>
  </div>

  <app-customers
    [customers]="customers"
  >
  </app-customers>
</div>


